<%- include("layouts/header")  %> 
<%- include("layouts/navigation") %> 

    <% const nama= "Aulia Rahman Zulfi" %>
    
    <h1>Home Page</h1>
    <h2>Hi, <%= nama %></h2>
    <br><hr>
    



<%- include("layouts/footer") %> 